*{
    box-sizing: border-box;
}
:root{
    --primary-color:#FFB900;
    --font-heading: sen, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
/* ========common========= */

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 1.6rem;  
    text-align: center;
    color: #FFFFFF;
    background: #171100;
    border-radius: 999px;
}
.btn:hover{
    opacity: 0.9;
}

.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ========header========= */

.header{
    background: #FFFCF4;
}

.header.fixed{
    position: sticky;
    top: -26px;
    z-index: 1;
}

.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 14px;
}

.header .logo{
    width: 120px;
    height: 40px;
}
.nav{
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
}
.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn{
    min-width: 144px;
    padding: 11px 41px;
}

.hero{
    padding-top: 56px ;
    background: #FFFCF4;
}

.hero .body{
    display: flex; 
}
/* hero lest */
.hero .media-block{
    position: relative;
    width: 48%;
}


.hero .media-block .img{
    width: 470px;
    height: 585px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px 24px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    box-shadow: -18px 19px 25px -7px rgba(0,0,0,0.65);
}

.hero-summary .item{
    display: flex;
}

.hero-summary .item + .item{
    margin-top: 22px;
}

.hero-summary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #FFF9E8;
}

.hero-summary .info{
    margin-left: 16px;
}

.hero-summary .info .label{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-summary .info .title{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* hero right */
.hero .content-block{
    width: 52%;
    margin-top: 64px;
    padding-left: 100px;
}

.content-block .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    color: #171100;
}

.hero .desc{
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .cta-group{
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero .hero-cta{
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
    border-radius: 32px;
}

.content-block .btn a{
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
}

.hero .watch-video{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span{
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats{
    margin: 8px 0 0 -28px;
    
}

.hero .stats strong{
    font-family: var(--font-heading);
    padding: 0 8px 0 28px;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}




